name: Run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./firmware

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install build-essential # Contains gcc and standard C libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential

      - name: Run Unity tests
        run: |
          chmod u+x tests/unit/run_tests.sh
          ./tests/unit/run_tests.sh
